[Unit]
Description=DE-gPTP Edge daemon
After=network.target
Wants=network.target

[Service]
PIDFile=/var/run/deptp.pid
ExecStart=/usr/sbin/deptp /etc/deptp/ptp_config.xml


[Install]
WantedBy=multi-user.target
